:root {
    /* Default Blue Accent */
    --pc: #0061A4;
    --ph: #2579BE;
    --pl: #D1E4FF;
    --sent-text: #FFFFFF;

    /* Base Colors */
    --bg: #F3EDF7;
    --w: #FFFBFE;
    --tm: #49454F;
    --sc: #21005D;

    /* Radius */
    --rd-l: 32px;
    --rd-m: 24px;
    --rd-s: 16px;
    --rd-p: 100px;

    --shd: 0 4px 12px rgba(0,0,0,0.08);
    --f: 'Quicksand', sans-serif;

    /* Blur Effects */
    --blur-s: 8px;
    --blur-m: 20px;
    --blur-l: 30px;
}

:root.dark {
    --tm: #938F99;
    --sc: #E6E1E5;
    --shd: 0 4px 24px rgba(0,0,0,0.5);
}